<div ng-init="saveServerJson()">
    <!-- descriptors - <json-formatter json="relationJson.descriptors"></json-formatter> -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="email">Cardinality:</label>
                <select ng-disabled="readOnly()" ng-model="relationJson.cardinality" class="form-control" ng-options="car.cardinality as car.name for car in cardinalities">
                </select>
            </div>
        </div>

    </div>
    <descriptor descriptor-json="descriptor" ng-repeat="descriptor in relationJson.descriptors"></descriptor>
    <div ng-show="state.adding">
        <add-descriptor relation-id={{relationJson.id}} after-adding="descriptorAdded(added)"></add-descriptor>
    </div>
    <button class="btn btn-link" ng-hide="state.adding" ng-click="state.adding = true">Add Descriptor</button>
    <button class="btn btn-sm btn-primary btn-block" ng-click="updateRelation()" ng-disabled="!changed()">Update</button>
</div>