<div class="panel-heading">
    Panel Heading
</div>
<div class="panel-body">
    Panel Body
</div>
<div class="panel-footer">
    <button class='btn btn-primary btn-xs' ng-click='editConcept()'>Next</button>
    <div style="clear:both"></div>
</div>