<div class="form-group">
    <label for="email">Title</label>
    <input type="text" class="form-control" ng-model="newDescriptor.label">
</div>
<div class="form-group">
    <label for="email">Data Type</label>
    <select class="form-control" ng-model="newDescriptor.dataType">
        <option value="shortText">Short Text</option>
        <option value="longText">Long Text</option>
        <option value="number">Number</option>
        <option value="boolean">Boolean</option>
    </select>
</div>
<button class="btn btn-sm btn-primary btn-block" ng-click="addDescriptor(newDescriptor)">Add</button>