<div>
    <!-- descriptors - <json-formatter json="conceptJson.descriptors"></json-formatter> -->
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="email">Color:</label>
                <select ng-disabled="readOnly()" ng-model="conceptJson.color" class="form-control" ng-options="color.name as color.code for color in colors">
                </select>
            </div>
        </div>

    </div>
    <descriptor descriptor-json="descriptor" ng-repeat="descriptor in conceptJson.descriptors"></descriptor>
    <div ng-show="state.adding">
        <add-descriptor concept-id={{conceptJson.id}} after-adding="descriptorAdded(added)"></add-descriptor>
    </div>
    <button class="btn btn-link" ng-hide="state.adding" ng-click="state.adding = true">Add Descriptor</button>
    <button class="btn btn-sm btn-primary btn-block" ng-click="updateConcept()" ng-disabled="!changed()">Update</button>
</div>