<div ng-style="containerStyle">
    <div class="panel panel-primary editor-panel" ng-init="getFocus = true">
        <!-- <div class="panel-heading">
                {{fetched.node.label}}
            </div> -->
        <div class="panel-heading">Add Relation</div>
        <div class="panel-body">

            <b>{{tnode.parent.node.schema.label}}:</b> {{tnode.parent.node.label ||
            tnode.parent.node.properties[tnode.parent.node.schema.titleKey]}}
            <p>
                <input type="text" ng-click="M.lockMap()" ng-model="relationLabel" />
            </p>
            <b>{{tnode.node.schema.label}}:</b> {{fetched.node.label ||
            fetched.node.properties[tnode.node.schema.titleKey]}}
            <button class='btn btn-primary btn-block' ng-click="assignRelation(tnode.parent.node,tnode.node,fetched.edge,relationLabel)">Next</button>
            <div style="clear:both"></div>
            <!-- <json-formatter json="fetched" open="1"></json-formatter> -->
        </div>
    </div>
</div>