<div class="editor-sidebar">
    <div class="panel panel-primary editor-panel" ng-if="editor.show" ng-init="editor.schema = editor.current.node.schema;editor.values=editor.current.node.properties">
        <div class="panel-heading">
            <span ng-class="{'pointer':(!editor.expanded)}" ng-click="editor.expanded = true">{{editor.values[editor.schema.titleKey]}}</span>
            <div style="cursor: pointer" class="btn-xs pull-right" ng-click="editor.expanded = false" ng-show="editor.expanded"><i
                    class="glyphicon glyphicon-chevron-down"></i></div>
        </div>
        <div class="panel-body" ng-show="editor.expanded">
            <div ng-repeat="(key,field) in editor.schema.propertySchema.properties" style="margin-bottom:10px">
                <div><small><b>{{field.title}}</b></small></div>
                <div style="margin-left:20px" ng-hide="editor.state.editing">{{editor.values[key]}}</div>
                <div ng-if="editor.state.editing" style="margin-left:10px" ng-init="copyValues()">
                    <input type="text" class="form-control" ng-if="field.type =='string' && (!field.enum || field.enum.length == 0)"
                        ng-model="editor.valuesCopy[key]">
                    <input type="number" class="form-control" ng-if="field.type =='number'" ng-model="editor.valuesCopy[key]">
                    <div ng-if="field.enum && field.enum.length > 0">
                        <label ng-repeat="option in field.enum" style="margin-right:10px">
                            <input type="radio" ng-model="editor.valuesCopy[key]" value="{{option}}">
                            {{option}}
                        </label>
                    </div>
                </div>
            </div>
            <!-- Panel content
            <br>
            Properties-{{editor.current.node.properties}}
            <br>
            Schema - {{editor.current.node.schema}}-->
        </div>
        <div class="panel-footer" ng-show="editor.expanded">
            <button class="btn btn-primary btn-xs pull-right" ng-click="editing(true)" ng-hide="editor.state.editing">Edit</button>
            <button class="btn btn-default btn-xs pull-right" ng-click="editing(false)" ng-show="editor.state.editing">Undo</button>
            <button class="btn btn-primary btn-xs pull-left" ng-click="saveProperties()" ng-show="editor.state.editing">Save</button>
            <div style="clear:both"></div>
        </div>
    </div>
</div>

<style>
    .editor-sidebar {
        width: 300px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        min-height: 30px;
        z-index: 3;
    }

    .editor-sidebar .panel {
        margin-bottom: 0px !important;
    }

    .pointer {
        cursor: pointer;
    }
</style>