<ng-view ng-controller="sidebarController">

</ng-view>


<style>
    .editor-sidebar {
        width: 300px;
        position: fixed;
        left: 0px;
        bottom: 0px;
        min-height: 30px;
        z-index: 3;
    }

    .editor-sidebar .panel {
        margin-bottom: 0px !important;
    }

    .pointer {
        cursor: pointer;
    }
</style>