<div class="node-label node">
    <div class="on-focus">
        <div class="menu-switch node-action"><span class="glyphicon glyphicon-chevron-down"></span></div>
        <div class="perspective-switch node-action"><a class="perspective-link"><span class="fa fa-bullseye"></span></a></div>
    </div>
    {{^_connectable}}
    <!-- Node label for non connectables-->
    <span class='node-label-text'>
        {{name}}
    </span>
    {{/_connectable}}
</div>
{{#_connectable}}
<!-- Show connectable for adding new node-->
<div class="connectable connectable-idle">
    <div class="input-group">
        <span class="input-group-addon before-input"><i class="glyphicon glyphicon-arrow-right"></i></span>
        <input type="text" class="form-control" placeholder="{{name}}">
        <span class="input-group-addon enter-concept after-input"><i class="glyphicon glyphicon-plus"></i></span>
    </div>
</div>
{{/_connectable}}
{{^_connectable}}
<!-- Show Menu if not a connectable-->
<div>
    <span class="toggle-expand switch-expand"></span>
    <div class="list-group menu-list">
        <li class="list-group-item menu-item menu-concept">{{node.schema.label}}</li>
        <a class="list-group-item list-group-item-action menu-item menu-conceptualize">Conceptualize</a>
        <a class="list-group-item list-group-item-action menu-item menu-relate">Relate</a>
        <a class="list-group-item list-group-item-action menu-item menu-details">Details</a>
        <a class="list-group-item list-group-item-action menu-item menu-delete">Delete</a>
    </div>
</div>
{{/_connectable}}
<!-- Show input for conceptualizing-->
<div class="conceptualizing conceptualizing-idle">
    <div class="input-group">
        <span class="input-group-addon before-input"><small>{{name}} is a</small></span>
        <input type="text" class="form-control assign-concept" placeholder="____________">
        <span class="input-group-addon enter-concept after-input"><i class="glyphicon glyphicon-ok"></i></span>
    </div>
</div>
<!-- Show input for relating -->
<div class="relating relating-idle">
    <div class="input-group">
        <span class="input-group-addon before-input"><small>{{parent.node.schema.label}}</small></span>
        <input type="text" class="form-control assign-relation" placeholder="____________">
        <span class="input-group-addon after-input"><small>{{node.schema.label}}</small></span>
    </div>
</div>
<!-- Show Edge with a Label-->
<div class="edge-label">{{via}}</div>
<div class="direction-arrow">
    {{^_connectable}}
    {{#source}}
    <i class="incoming glyphicon glyphicon-arrow-right"></i>

    <i class="outgoing glyphicon glyphicon-arrow-left"></i>
    {{/source}}
    {{/_connectable}}
</div>