<div class="panel-heading">
    <b>{{fetched.concept.label}}:</b> {{fetched.node.label || fetched.node.properties[fetched.concept.titleKey]}}
</div>
<div class="panel-body">
    <!-- Show node properties and edge properties -->
    <div ng-repeat="(key,field) in fetched.concept.propertySchema.properties" style="margin-bottom:10px">
        <div><small><b>{{field.title}}</b></small></div>
        <div style="margin-left:20px" ng-hide="state.editing">{{fetched.node.properties[key]}}</div>
        <div ng-if="state.editing" style="margin-left:10px" ng-init="copyValues()">
            <input type="text" class="form-control" ng-if="field.type =='string' && (!field.enum || field.enum.length == 0)"
                ng-model="valuesCopy[key]" ng-change="state.changed = true">
            <input type="number" class="form-control" ng-if="field.type =='number'" ng-model="valuesCopy[key]"
                ng-change="state.changed = true">
            <div ng-if="field.enum && field.enum.length > 0">
                <label ng-repeat="option in field.enum" style="margin-right:10px">
                    <input type="radio" ng-model="valuesCopy[key]" value="{{option}}" ng-change="state.changed = true">
                    {{option}}
                </label>
            </div>
        </div>
    </div>
    <json-formatter json="fetched"></json-formatter>
</div>
<div class="panel-footer">
    <button class='btn btn-default btn-xs pull-left' ng-click="close()">Close</button>

    <button class='btn btn-primary btn-xs pull-right' ng-hide="state.editing" ng-click='copyValues();state.editing = true'>Edit</button>
    <button class='btn btn-primary btn-xs pull-right' ng-show="state.changed" ng-click='saveProperties()'>Save</button>
    <div style="clear:both"></div>
</div>