<div class="legend-bar" ng-controller="legendController">
    <a class="btn btn-link" ng-href="{{homeLink()}}">Home</a>
    <button ng-show="toEdit()" class="btn btn-default"> <input type="checkbox" ng-model="M._editing" ng-change="editChanged()">
        Edit</button>
    <div class="input-group" style="max-width:200px">
        <input type="text" ng-model="customSelected" placeholder="Search.." uib-typeahead="node as node.label for node in relevantNodes() | filter:{label:$viewValue} | limitTo:8"
            class="form-control" typeahead-show-hint="true" typeahead-min-length="0" typeahead-on-select="onSelect($item, $model, $label, $event)">

    </div>

    <uib-accordion close-others="false">
        <div uib-accordion-group class="panel-default" heading="Concepts" is-open="true">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group is-disabled="status.isFirstDisabled" ng-repeat="conceptJson in M.graphJson.legend.nodes"
                    ng-style="conceptStyle(conceptJson)">
                    <uib-accordion-heading>
                        {{conceptJson.label}} <span class="badge pull-right">{{nodeCount(conceptJson)}}</span>
                    </uib-accordion-heading>
                    <concept concept-json="conceptJson"></concept>
                </div>
            </uib-accordion>
        </div>
        <div uib-accordion-group class="panel-default" heading="Relations" is-open="true">
            <uib-accordion close-others="oneAtATime">
                <div uib-accordion-group heading="{{relationTitle(edgeJson)}}" is-disabled="status.isFirstDisabled"
                    ng-repeat="edgeJson in M.graphJson.legend.edges">
                    <relation relation-json="edgeJson">
                    </relation>
                </div>
            </uib-accordion>
        </div>
    </uib-accordion>
</div>




<style>
    .legend-bar {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 3;
        max-width: 250px;
    }

    .legend-bar .panel-title {
        font-size: 12px;
    }
</style>