<div ng-style="containerStyle">
    <div class="panel panel-primary editor-panel" ng-init="getFocus = true">
        <!-- <div class="panel-heading">
            {{fetched.node.label}}
        </div> -->
        <div class="panel-body">

            <h4 class="text-center">is a</h4>
            <p>
                <input type="text" ng-click="M.lockMap()" ng-model="conceptLabel" auto-complete="autoCompleteConceptOptions" />
            </p>
            <button class='btn btn-primary btn-block' ng-click="assignConcept(fetched.node,conceptLabel)">Next</button>
            <div style="clear:both"></div>
            <!-- <json-formatter json="fetched" open="1"></json-formatter> -->
        </div>
    </div>
</div>